<div class="bootstrap-wrapper">
<div class="container mt">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="container text-center">
                <img class="img-fluid" style="width: 100px;" src="image.png"/>
        </div>
        <h1 class="text-center">Login Here!!</h1>

        <form action="" class="actions">
            <mat-form-field class="full-width">
                <mat-label>Username</mat-label>
                <input type="text" matInput/>
            </mat-form-field>
        </form>
    </div>
</div>
</div>